@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
/*
font-family: 'Roboto Condensed', sans-serif;
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

.role-name {
  color: #d3d2d2;
}

.header {
  height: 3.2vw;
  background-color: gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 5px;
  width: 100%;
}

.header-container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container > * {
  margin: auto 0;
}

.header-container > * :last-child {
  margin-right: 0;
}

.header-container .user-role {
  font-size: 1.06667vw;
  font-weight: 500;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.authorization {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8vw;
  font-weight: 400;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.authorization-item {
  cursor: pointer;
  margin: 0 .5rem;
  -webkit-transition: color .7s, -webkit-transform .5s;
  transition: color .7s, -webkit-transform .5s;
  -o-transition: color .7s, transform .5s;
  transition: color .7s, transform .5s;
  transition: color .7s, transform .5s, -webkit-transform .5s;
}

.authorization-item:hover {
  color: #bdbdbd;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.main {
  padding: 0 10px;
  padding-top: 3.2vw;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.main::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10%;
  height: 1px;
  width: 120%;
  -o-object-position: center center;
     object-position: center center;
  background-color: #c9c9c9;
}

.app {
  background-color: #d8d8d8;
  margin: 2px 0;
  padding: 10px;
  border-radius: 10px;
}

.app .play-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .app .play-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.app .play-cards .play-card {
  width: 48%;
  height: 150px;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .app .play-cards .play-card {
    width: 95%;
  }
}

.footer {
  height: 3vw;
  position: relative;
  font-size: 1.2vw;
  font-weight: 400;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.footer-container {
  max-width: 1300px;
  position: relative;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container > * {
  margin: 0 5px;
}

.footer .developer-email {
  text-decoration: none;
  outline: none;
  color: #616161;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

.footer .developer-email:hover {
  color: #7e7e7e;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.play-card {
  -webkit-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
  background-color: #e4e4e4;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: auto auto 1fr;
      grid-template-rows: auto auto 1fr;
  padding: 5px;
}

.play-card:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.play-card__poster {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-right: 5px;
}

.play-card__poster img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.play-card__title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 24px;
  font-weight: 400;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.play-card__description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  color: #7e7e7e;
  font-family: "Roboto Condensed", sans-serif;
}

.play-card__description > * {
  margin: 0 5px;
  margin-left: 0;
}

.play-card__dates {
  padding: 5px 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.play-card__li {
  margin-right: 3px;
  margin-bottom: 2px;
  border-radius: 4px;
  background-color: #d29ef0;
  height: 1.2em;
  padding: 0 3px;
}

.play-card__li:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.play-card__date {
  text-decoration: none;
  outline: none;
  color: #3b3b3b;
}

.plays-description {
  font-size: 4vw;
  font-weight: 400;
  color: #616161;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  position: relative;
}

.plays-description::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
}

.play-description .play-card {
  background-color: #d8d8d8;
  border-radius: 1px;
  border-bottom: 2px solid #9e9e9e;
}

.play-description__article {
  margin: 12px 0;
  font-size: 1.5vw;
  font-weight: 400;
  color: #3b3b3b;
  font-family: "Roboto Condensed", sans-serif;
  text-align: justify;
}
