@import 'style.scss';

.modal {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    &__container {
        position: relative;
        top: 10%;
        margin: 0 auto;
        width: 35%;
        //height: 20%;
        //background-color: rgb(202, 202, 202);
        display: flex;
        flex-direction: column;
    }
    &__header {
        overflow: hidden;
        height: 3vw;
        background-color: rgb(44, 126, 209);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px 10px 0 0;
        padding: 0 8px;
        @include font(1.1vw, 500, white, 'Roboto Condensed', sans-serif);
        text-transform: uppercase;
    }
    &__description {

    }
    &__cancel {
        //font-size: 24px;
        font-size: 1.5vw;
        background-color: rgb(197, 75, 75);
        width: 1.1em;
        text-align: center;
        border-radius: 60px;
        cursor: pointer;
        user-select: none;
    }
    &__content {
        //height: 100%;
        flex: 1 1 auto;
        background-color: rgb(255, 255, 255);
        >* {
            margin: 12px auto;
            height: 2.6vw;
            outline: none;
            border: 0;
            @include font(1vw, 500, white, 'Montserrat', sans-serif);
        }
        input[type="text"], input[type="password"] {
            display: block;
            width: 80%;
            background-color: rgb(190, 220, 228);
            padding: 0 10px;
           
        }
        button {
            display: block;
            width: 80%;
            margin-bottom: 20px;
            background-color: rgb(111, 174, 236);
            border-radius: 4px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}