@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*
font-family: 'Roboto Condensed', sans-serif;
*/

$header-height: 3.2vw;
$footer-height: 3vw;
$max-hf-width: 1300px;

@mixin font($size, $weight, $color, $name, $family) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $name, $family;
}

*, *::before, *::after {
    box-sizing: border-box;
}
// html {height: 100%;}
// body {margin: 0; background-color: rgb(160, 151, 151); height: 100%;}

* {margin: 0; padding: 0;}
html, body {height: 100%; overflow-x: hidden;}
.role-name {
    color: rgb(211, 210, 210);
}

.header {
    height: $header-height;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 5px;
    width: 100%;
    &-container {
        max-width: $max-hf-width;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        > * {
            margin: auto 0;
            :last-child {
                margin-right: 0;
            }
        }
        .user-role {
            @include font($header-height / 3, 500, white, 'Montserrat', sans-serif);
            text-transform: uppercase;
        }
    }
}

.authorization {
    list-style: none;
    display: flex;
    @include font($header-height / 4, 400, white, 'Montserrat', sans-serif);
    text-transform: uppercase;
    &-item {
        cursor: pointer;
        margin: 0 .5rem;
        transition: color .7s, transform .5s;
        &:hover {
            color: rgb(189, 189, 189);
            transform: scale(1.3);
        }
    }
}

.main {
    padding: 0 10px;    
    padding-top: $header-height;
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    //background-color: rgb(216, 216, 216);
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -10%;
        height: 1px;
        width: 120%;
        object-position: center center;
        background-color: rgb(201, 201, 201);
    }
}

.app {
    background-color: rgb(216, 216, 216);
    margin: 2px 0;
    padding: 10px;
    border-radius: 10px;
    .play-cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 768px) {
            justify-content: center;
        }
        .play-card {
            @media (max-width: 768px) {
                width: 95%;
            }
            width: 48%;
            height: 150px;
            margin: 10px 0;
        }
    }
}

.footer {
    height: $footer-height;
    position: relative;
    @include font($footer-height / 2.5, 400, black, 'Montserrat', sans-serif);
    &-container {
        max-width: $max-hf-width;
        position: relative;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        >* {
            margin: 0 5px;
        }
    }
    .developer-email {
        text-decoration: none;
        outline: none;
        color: rgb(97, 97, 97);
        transition: .7s;
        &:hover {
            color: rgb(126, 126, 126);
            transform: scale(1.1);
        }
    }
}

.play-card {
    //border: 1px solid black;
    transition: background-color .4s;
    &:hover {
        cursor: pointer;
        background-color: rgb(235, 235, 235);
    }
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto 1fr;
    padding: 5px;
    &__poster {
        grid-column: 1/2;
        grid-row: 1/4;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-right: 5px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
    &__title {
        grid-column: 2/3;
        @include font(24px, 400,black ,'Roboto Condensed', sans-serif);
        text-transform: uppercase;
        //margin: auto 0;
    }
    &__description {
        grid-column: 2/3;
        display: flex;
        @include font(15px, 400,rgb(126, 126, 126) ,'Roboto Condensed', sans-serif);
        >* {
            margin: 0 5px;
            margin-left: 0;
        }
    }
    &__dates {
        padding: 5px 0;
        grid-column: 2/3;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
    &__li {
        &:hover {
            transform: scale(1.1);
        }
        margin-right: 3px;
        margin-bottom: 2px;
        border-radius: 4px;
        background-color: rgb(210, 158, 240);
        height: 1.2em;
        padding: 0 3px;
    }
    &__date {
        text-decoration: none;
        outline: none;
        color: rgb(59, 59, 59);
    }
}

.plays-description {
    @include font(4vw, 400,rgb(97, 97, 97) ,'Roboto Condensed', sans-serif);
    text-transform: uppercase;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: rgb(226, 226, 226);
    }
}